.carousel-item {
    height: 900px;
  }
  
  .item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  
  #item1 {
    background-image: url(../img/dokdo1.jpg);
  }
  
  #item2 {
    background-image: url(../img/dokdo2.jpg);
  }
  
  #item3 {
    background-image: url(../img/dokdo3.jpg);
  }
  
  .intro span {
    border-style: 100px;
    font-size: 50px;
    color: #ffffff;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 100px;
  }

  .intro h2 {
    font-size: 25px;
    color: #ffffff;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 50px;
  }
  
  .intro h3 {
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 200px;
  }
  
  .intro a {
    background-color: #5900e7;
    border-radius: 50px;
    padding: 10px 35px;
    color: #ffffff;
    font-weight: 300;
  }
  
  .intro {
    position: absolute;
    bottom: 25%;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .course-img {
    width: 100%;
  }
  
  .main {
    margin-top: 100px;
    align-items: center;
  }

  .wrap {
    display: flex;
    justify-content: space-evenly;
  }
  .dokdoInfo {
    background-color: whitesmoke;
    width: 400px;
    height: 300px;
    image-resolution:inherit;
    border-radius: 15%;

  }

  .viewInfo {
    width: 400px;
    height: 200px;

  }