h1,
p{
    font-family: serif;
    color:black;
}
span{
    font-size: 2em;
    color: red;
}
em{font-size: 1.5em; color: blue;}
h1{
    border-bottom: 1px solid gray;
    color: red;
}
body{
    font-size: 13px;
    background-color: white;
}